<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Places Autocomplete</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3sG93yZoYRJRWw-HYw4IHNtYkRvcDChs"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="./src/ng-map/ng-map.js"></script>

    <script>
        angular.module('myApp', ['ngMap'])
                .controller('MyCtrl', function($scope) {
                    $scope.types = "['establishment']";
                    $scope.placeChanged = function() {
                        $scope.place = this.getPlace();
                    }
                });
    </script>

</head>
<body ng-app="myApp" ng-controller="MyCtrl">
    Auto Complete Type:
    <!--<select ng-model="types">
        <option value="['geocode']">Geodode</option>
        <option value="['establishment']">Establishment</option>
        <option value="['address']">Address</option>
    </select><br/>-->

    Enter an address: <br/>
    <input places-auto-complete size=80
           ng-model="address"
           xxx-component-restrictions="{country:'us'}"

           on-place-changed="placeChanged(place)" /> <br/>
    <div ng-show="place">
        Address = {{place.formatted_address}} <br/>
        Location: {{place.geometry.location}}<br/>
    </div>
    address : {{address}}
</body>
</html>